.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: visible;
    /*background: linear-gradient(45deg, #6e535b, #0d1435);*/
    background-image: url("https://checkthechords.ru/img/top.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Modal Content/Box */
.modal-content {
    border-radius: 20px;
    box-shadow: 0 5px rgba(0,0,0,0.2);
    background-color: #fefefe;
    margin: 2% auto 2% auto;
    width: 390px; /* Could be more or less, depending on screen size */
}
/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #a9a2a2;
}
.close:hover,
.close:focus {
    color: #fff8f8;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
#passwordError{
    color: #d00000;
    font-weight: bold;
    text-align: center;
}
