.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-image: url("https://checkthechords.ru/img/top.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.modal-content {
    border-radius: 20px;
    box-shadow: 0 5px rgba(0,0,0,0.2);
    background-color: #fefefe;
    margin: 2% auto 2% auto;
    width: 390px;
    height: 200px;
}
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #a9a2a2;
}
.close:hover,
.close:focus {
    color: #fff8f8;
    cursor: pointer;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
#passwordError,
#loginError,
#empty{
    color: #d00000;
    font-weight: bold;
    text-align: center;
}
