body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: .2s;
    overflow-x: hidden;
    padding-top: 20px;
    background: linear-gradient(45deg, #6e535b, #0d1435);
}

.sidenavAut {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: .2s;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a,
.sidenav .side_btn,
.sidenavAut .side_btn {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenavAut .side_btn:hover,
.sidenav a:hover,
.sidenav .side_btn:hover {
    color: #f1f1f1;
}

.side_btn {
    background-color: transparent;
    border-color: transparent;
    margin-left: -3px;
}

#main {
    margin-left: 120px;
}

.sidenavAut,
.sidenav a:hover {
    color: #ffffff;
}

.sidenavAut .closebtn,
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.my__inputN {
    all: unset;
    -moz-appearance: textfield;
    width: 3em;
    text-align: center;
}

.my__inputN::-webkit-inner-spin-button {
    display: none;
}


.btn {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #0d1435;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #0d1435;
    transition: .2s ease-in-out;
}

.btn:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}

.btn:hover {
    background: #0d1435;
    color: #fff;
}

.btn:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}

.product {
    weight: auto;
    height: 460px;
}

.catalog__img {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.my__catalogBtn {
    background-color: white;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}

.minus {
    color: #d00000;
    font-size: 20pt;
}

.plus {
    color: #0dae16;
    font-size: 20pt;
}

.form_input_number {
    text-align: center;
}

.name__product {
    width: auto;
    height: 55px;
}

.menu {
    position: fixed;
    padding-left: 3px;
    margin-top: 20px;
    margin-left: 20px;
    background: #0d1435;
    color: white;
    width: 21px;
    height: 23px;
    zoom: 2;
}

.basket__text {
    margin-top: 45px;
    margin-bottom: 0;
    margin-right: 15px;
}

.basket__btn {
    margin-top: 55px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.text_row {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.my_pagination {
    align-items: center;
    justify-content: center
}

#header-container {
    display: block;
    position: absolute;
}

section .my_select {
    margin-top: -20px;
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    width: 200px;
    cursor: pointer;
    background: transparent;
}

section .my_select :hover {
    background-color: transparent;
    color: white;
}

section select .my_options {
    background-color: white;
    color: gray;
    width: 310px;
    padding: 10px 15px;
    height: 45px;
    cursor: pointer;
}

section select .my_options:hover {
    padding-left: 20px;
    width: 270px;
    color: #0d1435;
}

.loc {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 10px;
}

.arrow {
    margin-bottom: 10px;
}