*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    /*background: linear-gradient(45deg,#fead06, #c00def);*/
    background: linear-gradient(45deg, #6e535b, #0d1435);

}
.container{
    position: relative;
    padding: 70px 40px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 5px rgba(0,0,0,0.2);
}
.container h2 {
    color: #111;
    margin-bottom: 45px;
    line-height: 1em;
    font-weight: 500;
    padding-left: 10px;
    border-left: 5px solid #6b03fd;
}
.container .inputBox{
    position: relative;
    width: 300px;
    height: 46px;
    margin-bottom: 35px;
}
.container .inputBox:last-child{
    margin-bottom: 0;
}
.container .inputBox input,
.container .inputBox a{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #111;
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    color: #111;
    font-weight: 300;
}
.container .inputBox span{
    position: absolute;
    top: 1px;
    left: 1px;
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    color: #111111;
    font-weight: 300;
    transition: 0.5s;
    pointer-events: none;
}
.container .inputBox input:focus ~ span,
.container .inputBox input:valid ~ span{
    transform: translateX(-10px) translateY(-32px);
    font-size: 12px;
}

.container .inputBox input[type="submit"],
.container .inputBox a{
    background: #6e535b;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}
.container .inputBox input[type="submit"]:hover,
.container .inputBox a:hover{
    background: #0d1435;
}